.card {
  position: relative;
  display: block;
  border-radius: 5px;
  background-color: #ffffff;
  min-height: 35px;
  padding: 7px 8px;
  cursor: pointer;

  &:not(:first-of-type) {
    margin-top: 15px;
  }

  >.button-remove {
    display: none;
    position: absolute;
    right: 6px;
    top: 6px;
  }

  &:hover {
    >.button-remove {
      display: flex;
    }
  }
}